#instructions {
}

.start-game-button {

}

#game {
  border: solid;
  margin: auto;
  display: block;
}

#scoreboard {
  height: 90px;
  width: 1000px;
  border: solid green;
  margin: auto;
  display: block;
}

.score, .lives{
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding-right: 3rem;
}